<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sonant.dsin">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".animtounity.GetDataInToRecyclerViewFromFirebase"
            android:exported="true" />
        <activity
            android:name=".animtounity.AnimToUnity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".AvailableBooksActivity"
            android:exported="true" />
        <activity
            android:name=".testing.TestingActivitythree"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testing.TestingActivityTwo"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pspdfkit.ui.PdfActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".testing.TestingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditablePdfActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".UnityHandlerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NationalAnthem"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PdfDisplayNewM"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoInternet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DemoSlider"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pdfdisplay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dataEncrytion.DataEncryption"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PointsInformation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PdfReader"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SigninActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupSecond"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubjectInternalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />l
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashPlayerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".pushNotifications.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
